docs/n8n-flows/00-PULZE-combined.json
{
  "name": "PULZE",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8-22 * * *"
            }
          ]
        }
      },
      "id": "e04cf293-77f0-469f-a46d-78f7120bb330",
      "name": "Cada hora 8-22",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        -400
      ],
      "webhookId": ""
    },
    {
      "parameters": {
        "url": "https://pulze-pulze.wd75db.easypanel.host/api/n8n/users/pending-checkin",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "__PULZE_BOT_API_KEY__"
            }
          ]
        },
        "options": {}
      },
      "id": "18c1a727-096a-4287-9158-e51397678243",
      "name": "GET pending-checkin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nreturn (body.users || []).map(u => ({ json: u }));"
      },
      "id": "8be1131d-48c0-4760-9615-ec0a1e87ef47",
      "name": "Un ítem por usuario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pulze-pulze.wd75db.easypanel.host/api/n8n/openai/generate-reminder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "__PULZE_BOT_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ userId: $json.id }) }}",
        "options": {}
      },
      "id": "09135360-9cb4-4cab-8a47-eb6f59b61191",
      "name": "POST generate-reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        -400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pulze-pulze.wd75db.easypanel.host/api/n8n/proactive-messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "__PULZE_BOT_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ userId: $('Un ítem por usuario').item.json.id, content: $json.content, messageType: 'checkin_reminder' }) }}",
        "options": {}
      },
      "id": "c466ed73-a7d7-4432-acea-f489277567f2",
      "name": "POST proactive-messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "7d277377-c429-4cf2-9db4-0b85c67c18da",
      "name": "Diario 10:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        32
      ],
      "webhookId": ""
    },
    {
      "parameters": {
        "url": "https://pulze-pulze.wd75db.easypanel.host/api/n8n/users/inactive?days=2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "__PULZE_BOT_API_KEY__"
            }
          ]
        },
        "options": {}
      },
      "id": "686968a4-d7f4-4d9d-b84c-021f06b8811f",
      "name": "GET inactive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nreturn (body.users || []).map(u => ({ json: u }));"
      },
      "id": "a35c278a-d5a7-426f-af6b-e38b9c072584",
      "name": "Un ítem por usuario2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pulze-pulze.wd75db.easypanel.host/api/n8n/openai/generate-reactivation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "__PULZE_BOT_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ userId: $json.id, daysSinceLastCheckIn: $json.daysSinceLastCheckIn ?? 2 }) }}",
        "options": {}
      },
      "id": "7c4d8f08-409b-49f6-8b93-ca6a88844391",
      "name": "POST generate-reactivation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pulze-pulze.wd75db.easypanel.host/api/n8n/proactive-messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "__PULZE_BOT_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ userId: $('Un ítem por usuario2').item.json.id, content: $json.content, messageType: 'reactivation' }) }}",
        "options": {}
      },
      "id": "d9954a9d-9f6f-44ce-b9c2-725b45887219",
      "name": "POST proactive-messages2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        32
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "f87e7c1a-47c7-4972-8b3d-a0fa3b43a9f3",
      "name": "Diario 18:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        256
      ],
      "webhookId": ""
    },
    {
      "parameters": {
        "url": "https://pulze-pulze.wd75db.easypanel.host/api/n8n/users/milestones",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "__PULZE_BOT_API_KEY__"
            }
          ]
        },
        "options": {}
      },
      "id": "e9730cc4-83dc-440a-9a33-c553d2e0a543",
      "name": "GET milestones",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nreturn (body.users || []).map(u => ({ json: u }));"
      },
      "id": "dc46821f-f490-4a28-8af2-426b95c71c46",
      "name": "Un ítem por usuario3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pulze-pulze.wd75db.easypanel.host/api/n8n/openai/generate-celebration",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "__PULZE_BOT_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ userId: $json.id, milestone: $json.milestone || 'streak_' + ($json.currentStreak ?? 0) }) }}",
        "options": {}
      },
      "id": "478fcc9c-0c3a-466c-b091-052bb8304346",
      "name": "POST generate-celebration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pulze-pulze.wd75db.easypanel.host/api/n8n/proactive-messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "__PULZE_BOT_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ userId: $('Un ítem por usuario3').item.json.id, content: $json.content, messageType: 'celebration' }) }}",
        "options": {}
      },
      "id": "1167a10f-70bf-41b0-8a7c-de6e2ddf6780",
      "name": "POST proactive-messages3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        256
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "894d19de-c89a-44a1-82e4-64e3b827bf5c",
      "name": "Lunes 9:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -624,
        448
      ],
      "webhookId": ""
    },
    {
      "parameters": {
        "url": "https://pulze-pulze.wd75db.easypanel.host/api/n8n/users/active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "__PULZE_BOT_API_KEY__"
            }
          ]
        },
        "options": {}
      },
      "id": "2e84dc4a-2bec-4527-97bc-9ea9357e13ad",
      "name": "GET active",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nreturn (body.users || []).map(u => ({ json: u }));"
      },
      "id": "18204535-0777-4fe6-a4b3-f8102e5c521f",
      "name": "Un ítem por usuario4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pulze-pulze.wd75db.easypanel.host/api/n8n/openai/generate-weekly-report",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "__PULZE_BOT_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ userId: $json.id }) }}",
        "options": {}
      },
      "id": "83a1f149-a3e7-4144-89d6-7b7af46b4da3",
      "name": "POST generate-weekly-report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pulze-pulze.wd75db.easypanel.host/api/n8n/proactive-messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "__PULZE_BOT_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ userId: $('Un ítem por usuario4').item.json.id, content: $json.content, messageType: 'weekly_report' }) }}",
        "options": {}
      },
      "id": "f2fc0f5e-9abb-4dfa-8f5d-670559a91de4",
      "name": "POST proactive-messages4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        448
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12 * * *"
            }
          ]
        }
      },
      "id": "b1c2d3e4-f5a6-4789-b012-3456789abcde",
      "name": "Diario 12:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        640
      ],
      "webhookId": ""
    },
    {
      "parameters": {
        "url": "https://pulze-pulze.wd75db.easypanel.host/api/n8n/users/pending-onboarding",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "__PULZE_BOT_API_KEY__"
            }
          ]
        },
        "options": {}
      },
      "id": "c2d3e4f5-a6b7-4890-c123-456789abcdef",
      "name": "GET pending-onboarding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nreturn (body.users || []).map(u => ({ json: u }));"
      },
      "id": "d3e4f5a6-b7c8-4901-d234-56789abcdef0",
      "name": "Un ítem por usuario5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pulze-pulze.wd75db.easypanel.host/api/n8n/openai/generate-onboarding-nudge",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "__PULZE_BOT_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ userId: $json.id }) }}",
        "options": {}
      },
      "id": "e4f5a6b7-c8d9-4012-e345-6789abcdef01",
      "name": "POST generate-onboarding-nudge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pulze-pulze.wd75db.easypanel.host/api/n8n/proactive-messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "__PULZE_BOT_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ userId: $('Un ítem por usuario5').item.json.id, content: $json.content, messageType: 'onboarding_nudge' }) }}",
        "options": {}
      },
      "id": "f5a6b7c8-d9e0-4123-f456-789abcdef012",
      "name": "POST proactive-messages5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        640
      ]
    }
  ],
  "connections": {
    "Cada hora 8-22": {
      "main": [
        [
          {
            "node": "GET pending-checkin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET pending-checkin": {
      "main": [
        [
          {
            "node": "Un ítem por usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Un ítem por usuario": {
      "main": [
        [
          {
            "node": "POST generate-reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST generate-reminder": {
      "main": [
        [
          {
            "node": "POST proactive-messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diario 10:00": {
      "main": [
        [
          {
            "node": "GET inactive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET inactive": {
      "main": [
        [
          {
            "node": "Un ítem por usuario2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Un ítem por usuario2": {
      "main": [
        [
          {
            "node": "POST generate-reactivation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST generate-reactivation": {
      "main": [
        [
          {
            "node": "POST proactive-messages2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diario 18:00": {
      "main": [
        [
          {
            "node": "GET milestones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET milestones": {
      "main": [
        [
          {
            "node": "Un ítem por usuario3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Un ítem por usuario3": {
      "main": [
        [
          {
            "node": "POST generate-celebration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST generate-celebration": {
      "main": [
        [
          {
            "node": "POST proactive-messages3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lunes 9:00": {
      "main": [
        [
          {
            "node": "GET active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET active": {
      "main": [
        [
          {
            "node": "Un ítem por usuario4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Un ítem por usuario4": {
      "main": [
        [
          {
            "node": "POST generate-weekly-report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST generate-weekly-report": {
      "main": [
        [
          {
            "node": "POST proactive-messages4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diario 12:00": {
      "main": [
        [
          {
            "node": "GET pending-onboarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET pending-onboarding": {
      "main": [
        [
          {
            "node": "Un ítem por usuario5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Un ítem por usuario5": {
      "main": [
        [
          {
            "node": "POST generate-onboarding-nudge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST generate-onboarding-nudge": {
      "main": [
        [
          {
            "node": "POST proactive-messages5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timezone": "America/Argentina/Buenos_Aires"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}